<h3>Internal Server error</h3>
<ng-container >
 <h5 class="text-danger">Error: {{this.error.message}} </h5>
 <p>Following is stack trace</p>
 <div class="mt-5" style="background-color: whitesmoke;">
    {{this.error.details}}
</div>
</ng-container>