img.img-thumbnail{
    height:100px;
    min-width:100px !important;
    margin-bottom: 2px
}

.nav-file-over {
    border: dotted 3px red;
}
 input[type=file]{
     color:transparent;
 }
 .btn-outline{
 color: #fff;

 border-color: #28a745;
 }

 .btn-outline :hover{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  }
