<div class="row" *ngIf="member">
  <div class="col-4">
     <h1>Your Profile</h1>
  </div>
  <div class="col-8">
    <div class="alert alert-info" *ngIf="editFormProfile.dirty" form="editFormProfile" >
      <p><strong>Information: </strong> You have made changes. Any unsave changes will be lost</p>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <img
        src="{{ member.photoUrl || './assets/user.png' }}"
        alt="{{ member.knownAs }}"
        class="card-img-top img-thumbnail"
      />

    <div class="card-body">
      <div>
        <strong>Location</strong>
        <p>{{ member.city }}, {{ member.country }}</p>
      </div>
      <div>
        <strong>Age</strong>
        <p>{{ member.age }}</p>
      </div>
      <div>
        <strong>Last Active</strong>
        <p>{{ member.lastActive }}</p>
      </div>
      <div>
        <strong>Member since</strong>
        <p>{{ member.created }}</p>
      </div>
      <div class="card-footer">
          <button [disabled]="!editFormProfile.dirty" type="submit" form="editFormProfile" class="btn btn-success btn-block">Save Changes</button>
      </div>
    </div>
  </div>
  </div>

  <div class="col-8">

    <tabset class="member-tabset">
      <tab heading="About {{member.knownAs}}">
        <form #editFormProfile="ngForm" id="editFormProfile" (ngSubmit)="updateMember()">
          <h4>Description</h4>
          <textarea class="form-control" [(ngModel)]="member.introduction" name="introduction" rows="6"></textarea>
          <h4 class="mt-2">Looking For</h4>
          <textarea class="form-control" [(ngModel)]="member.lookingFor" name="lookingFor" rows="6"></textarea>
          <h4 class="mt-2">Interests</h4>
          <textarea class="form-control" [(ngModel)]="member.interests" name="interests" rows="6"></textarea>
          <h4>Location Details:</h4>
          <div class="form-inline">
            <label for="City">City:</label>
            <input [(ngModel)]="member.city" type="text" name="City" class="form-control mx-2">
            <label for="Country">Country:</label>
            <input [(ngModel)]="member.country" type="text" name="Country" class="form-control mx-2">
          </div>
        </form>
      </tab>
      <tab heading="Edit Photos">

       <app-photo-edit [member]="member"></app-photo-edit>
      </tab>

  </tabset>

  </div>

</div>

