<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink='/' routerLinkActive='active' >Dating App</a>

        <ul *ngIf="accout.currentUser$| async" class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink='/matches' routerLinkActive='active' >Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/list' routerLinkActive='active' >List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/message' routerLinkActive='active'  tabindex="-1" aria-disabled="true">Message</a>
          </li>
        </ul>


        <div *ngIf="accout.currentUser$| async" class="dropdown" dropdown>
          <img src="{{ (accout.currentUser$ | async)?.photoUrl}}" alt="img" class="img-profile" />
          <a id="button-basic" dropdownToggle type="button" class="dropdown-toggle text-light"
                  aria-controls="dropdown-basic">
                  Welcome {{ userFullName | titlecase }} <span class="caret"></span>
          </a>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a routerLink="/member/edit" class="dropdown-item" >Edit Profile</a></li>
            <li role="menuitem"><a class="dropdown-item"  (click)="logout()" >Logout</a></li>
          </ul>
        </div>


        <form *ngIf="(accout.currentUser$| async) === null" #loginForm="ngForm"  class="d-flex form-inline" (ngSubmit)="login()" autocomplete="off">
          <input name="username" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text" placeholder="Username">
          <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password" placeholder="Password">
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form>

    </div>
  </nav>


